<div class="w100 h100 grix container">

  <h1 class="heading text-center">Jeopardy - {{ userName }}</h1>

  <div class="grix">
    <div class="map-section self-center">
      <div id="layer-bg" class="layer">
        {{#each bgSprites }}
          <img class="sprite" src="/assets/sprites/{{ this.terrain }}-bg.png" style="transform: translate({{ this.x }}px, {{ this.y }}px);" />
        {{/each }}
      </div>
      <div id="layer-mg" class="layer">
        {{#each mgSprites }}
          <img class="sprite" src="/assets/sprites/{{ this.terrainSprite }}.png" style="transform: translate({{ this.x }}px, {{ this.y }}px);" />
        {{/each }}
      </div>
      <div id="layer-fg" class="layer">
        {{#each fgSprites }}
          <img class="sprite" src="/assets/sprites/{{ this.spriteFile }}" title="{{ this.actorname }}" style="transform: translate({{ this.x }}px, {{ this.y }}px);" />
        {{/each }}
      </div>
      <div id="layer-mg" class="layer"></div>
      <div id="layer-fg" class="layer"></div>
    </div>
  </div>
  <div class="control-panel self-center">
    <div class="layer">
      <img class="sprite direction" id="go-north" src="/assets/sprites/direction_N.png" title="Go North" style="transform: translate(64px, 0px);" />
      <img class="sprite direction" id="go-east"  src="/assets/sprites/direction_E.png" title="Go East"  style="transform: translate(128px, 64px);" />
      <img class="sprite direction" id="go-south" src="/assets/sprites/direction_S.png" title="Go South" style="transform: translate(64px, 128px);" />
      <img class="sprite direction" id="go-west"  src="/assets/sprites/direction_W.png" title="Go West"  style="transform: translate(0px, 64px);" />
    </div>
  </div>
</div>

<script>
  var userActor = {
                    actorId:  {{ userActor.actorId }}
                  , x:        {{ userActor.x }}
                  , y:        {{ userActor.y }}
                  };

console.log( userActor );

  $( '.direction' ).on( 'click'
                      , function( ev ){
                          console.log( 'KLIKK', ev );
                          var command = ev.target.id;
                          $.post( '/api/set_next_action', { actor: userActor, nextAction: command });
                        });

  var heartbeat = window.setInterval(
    function(){
      window.location.reload();
    }
  , 10_000
  );

</script>