<div class="w100 h100 grix container">

  <h1 class="heading text-center">Jeopardy - {{ userName }}</h1>

  <div class="grix">
    <div class="map-section self-center">
      <div id="layer-bg" class="layer">
        {{#each bgSprites }}
          <img src="/assets/sprites/{{ this.terrain }}-bg.png" class="map-tile" style="transform: translate({{ this.x }}px, {{ this.y }}px);" />
        {{/each }}
      </div>
      <div id="layer-mg" class="layer">
        {{#each mgSprites }}
          <img src="/assets/sprites/{{ this.terrainSprite }}.png" class="map-tile" style="transform: translate({{ this.x }}px, {{ this.y }}px);" />
        {{/each }}
      </div>
      <div id="layer-fg" class="layer">
        {{#each fgSprites }}
          <img src="/assets/sprites/{{ this.spriteFile }}" class="map-tile" style="transform: translate({{ this.x }}px, {{ this.y }}px);" />
        {{/each }}
      </div>
      <div id="layer-mg" class="layer"></div>
      <div id="layer-fg" class="layer"></div>
    </div>
  </div>

</div>

<script>

</script>